<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2023 BlackBerry Limited. All Rights Reserved.
  Some modifications to the original cordova-plugin-file
  from https://github.com/apache/cordova-plugin-media-capture

  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-bbd-media-capture"
      version="1.1.0">
    <name>cordova-plugin-bbd-media-capture</name>

    <description>BlackBerry Dynamics Media Capture Plugin</description>
    <license>SEE LICENSE IN LICENSE</license>
    <keywords>cordova,media,capture</keywords>

    <info>
        The Media Capture plugin is dependent on Dynamics Base and File plugins, so please make sure Base and File plugins are installed correctly.

        Original Cordova Media Capture plugin link: https://github.com/apache/cordova-plugin-media-capture
    </info>

    <engines>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

    <dependency
        id="cordova-plugin-bbd-file"
        url="git+https://github.com/blackberry/blackberry-dynamics-cordova-plugins#file"
        version="^1.3.0" />

    <js-module src="www/CaptureAudioOptions.js" name="CaptureAudioOptions">
        <clobbers target="CaptureAudioOptions" />
    </js-module>

    <js-module src="www/CaptureImageOptions.js" name="CaptureImageOptions">
        <clobbers target="CaptureImageOptions" />
    </js-module>

    <js-module src="www/CaptureVideoOptions.js" name="CaptureVideoOptions">
        <clobbers target="CaptureVideoOptions" />
    </js-module>

    <js-module src="www/CaptureError.js" name="CaptureError">
        <clobbers target="CaptureError" />
    </js-module>

    <js-module src="www/MediaFileData.js" name="MediaFileData">
        <clobbers target="MediaFileData" />
    </js-module>

    <js-module src="www/MediaFile.js" name="MediaFile">
        <clobbers target="MediaFile" />
    </js-module>

    <js-module src="www/helpers.js" name="helpers">
        <runs />
    </js-module>

    <js-module src="www/capture.js" name="capture">
        <clobbers target="navigator.device.capture" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BBDCapture" >
                <param name="android-package" value="com.blackberry.bbd.cordova.plugins.mediacapture.BBDCapture"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
	        <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.RECORD_VIDEO"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
        </config-file>

        <source-file src="src/android/BBDCapture.java" target-dir="src/com/blackberry/bbd/cordova/plugins/mediacapture" />
        <source-file src="src/android/FileHelper.java" target-dir="src/com/blackberry/bbd/cordova/plugins/mediacapture" />
        <source-file src="src/android/PendingRequests.java" target-dir="src/com/blackberry/bbd/cordova/plugins/mediacapture" />

        <js-module src="www/android/init.js" name="init">
            <runs />
        </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BBDCapture">
                <param name="ios-package" value="CDVCaptureBD" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVCaptureBD.h" />
        <source-file src="src/ios/CDVCaptureBD.m" />
        <resource-file src="src/ios/CDVCaptureBD.bundle" />

        <framework src="CoreGraphics.framework" />
        <framework src="MobileCoreServices.framework" />

        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Allow microphone usage</string>
        </config-file>

    </platform>

    <hook type="after_plugin_install" src="hooks/afterPluginInstall.js" />
    <hook type="after_compile" src="hooks/afterCompile.js" />
</plugin>
