<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2020 BlackBerry Limited. All Rights Reserved.
  Some modifications to the original cordova-sqlite-storage
  from https://github.com/litehelpers/Cordova-sqlite-storage/

  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-sqlite-storage"
        version="1.1.0">
        
    <name>cordova-plugin-bbd-sqlite-storage</name>
    <description>BlackBerry Dynamics Cordova Sqlite Storage Plugin</description>
    <license>SEE LICENSE IN LICENSE</license>
    <keywords>cordova,plugin,sqlite</keywords>

    <info>
        The SQLite Storage plugin is dependent on Base plugin, so please make sure the Base plugin is installed correctly.

        Original Cordova SQLite Storage plugin link: https://github.com/xpbrew/cordova-sqlite-storage
    </info>

    <dependency id="cordova-plugin-bbd-file"
        url="git+https://github.com/blackberry/blackberry-dynamics-cordova-plugins#file" version="^1.1.0" />

    <js-module src="www/SQLitePlugin.js" name="SQLitePlugin">
        <clobbers target="window.openDatabase" />
    </js-module>

    <js-module src="www/SQLiteImport.js" name="sqlite3enc_import">
      <clobbers target="window.sqlite3enc_import" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="com.blackberry.bbd.cordova.plugins.BBDSQLitePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/BBDSQLitePlugin.java" target-dir="src/com/blackberry/bbd/cordova/plugins" />
        <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
    </platform>
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePluginBD" />
            </feature>
        </config-file>
        <!-- Note: the iOS src is based off src/ios implicitly -->
        <header-file src="src/ios/SQLitePluginBD.h" />
        <source-file src="src/ios/SQLitePluginBD.m" />
        <source-file src="src/ios/CustomPSPDFThreadSafeMutableDictionary.m" compiler-flags="-w" />
    </platform>

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
</plugin>
